{% extends "base.html" %}
{% block content %}
<section class="home-section">
  <div class="card">
    <h2>Web Security Solutions</h2>
    <p class="title">Protect Your Business Online</p>
    <p>Your business data is vital, and your customers trust you with theirs. Rest assured that our cutting-edge solutions are implemented with the highest security standards, including OWASP, to keep your data safe and safeguard your online presence.</p>
    <p><a href="/solutions#security"><button>Learn More</button></a></p>
  </div>
  <div class="card">
    <h2>Computer Science Expertise</h2>
    <p class="title">Innovative Architecture &amp; Algorithms</p>
    <p>Sometimes, building something unique requires expert knowledge. Let our skilled generalists handle the complexity for you. Whether it's intricate AI for your game or scaling your application to handle incredible demand, we deliver solutions that are not only technically sound but also user- and programmer-friendly.</p>
    <p><a href="/solutions#cs"><button>Learn More</button></a></p>
  </div>
  <div class="card">
    <h2>Custom Software Solutions</h2>
    <p class="title">Tailored to Your Needs</p>
    <p>Have a specific business challenge? Our versatile team specializes in creating custom software solutions to address your unique requirements, ensuring a perfect fit for your business from concept to implementation. Moreover, if your project does require custom hardware design, we are also equipped to provide comprehensive hardware solutions tailored to your needs.</p>
    <p><a href="/solutions#custom"><button>Learn More</button></a></p>
  </div>
</section>
{% endblock %}
